.mainContainer {
    width:100%;

    .appBar {
        background-color: #1F2833;
        position: static;

        .menuIconButton {
            margin-right: 0.5em;
        }

        .appTitle {
            flex-grow: 1;
        }
    }

    .titleBar {
        background-color: #0B0C10;

        .listTitle {
            color: white;
            padding-left: 1em;
        }

    }

    .rightSideItem {
        text-align: right;
    }

    .sumBar {
        width: 100%;
        position: fixed;
        bottom: 1em;
        border-top: 1px solid black;
        text-align: center;
    }

}

.logo {
    width: 48px;
    height: 42px;
}