.userPickerContainer {
    display: block;

    .addControls, .userRow {
        display: flex;

        .email {
            width: 20rem;
        }

        .role {
            width: 7rem;
        }
    }

    .addControls {
        align-items: flex-end;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 0.5rem;
        padding: 0.2rem 0.5rem 0;
    }

    .userRow {
        padding: 0 0.5rem;
        align-items: center;
    }
}