.mainContainer {
    width:100%;

    .appBar {
        background-color: #0B0C10;

        .menuIconButton {
            margin-right: 0.5em;
        }

        .appTitle {
            flex-grow: 1;
        }
    }

    .tabsBar {
        background-color: #1f2833;

        .tab {
            color: white;
        }
    }
}

.logo {
    width: 48px;
    height: 42px;
}

button.addButton {
    position: fixed;
    bottom: 1em;
    right: 1em;
}

